body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
}

.container {
  max-width: 1200px;
  margin:  auto;
  padding: 20px;
  text-align: center;
}

header {
  margin-bottom: 40px;
}

header h1 {
  font-size: 48px;
  margin-bottom: 10px;
  color: #333;
}

header p {
  font-size: 1.2em;
  color: #666;
}

.shoe-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.shoe-image {
  width: 300px;
  height: 300px;
  background-image: url('https://media.istockphoto.com/id/1350560575/photo/pair-of-blue-running-sneakers-on-white-background-isolated.jpg?s=612x612&w=0&k=20&c=A3w_a9q3Gz-tWkQL6K00xu7UHdN5LLZefzPDp-wNkSU='); /* Replace with your shoe image */
  background-size: cover;
  background-position: center;
  margin-right: 20px;
  border-radius: 10px;
}

.shoe-details {
  flex: 1;
  text-align: left;
}

h2 {
  font-size: 2.5em;
  color: #333;
}

p {
  font-size: 1.2em;
  color: #666;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 1.2em;
  color: #fff;
  background-color: #ff6347;
  text-decoration: none;
  border-radius: 5px;
}

